.homeContainer {
    display: flex;
    width: 100%;
    height: 100vh;
}
.homeName {
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
    letter-spacing: 60px;
    padding-left: 60px;
    color: #ffffff;
    font-weight: 900;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -290%);
    z-index: 15;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.homeTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    letter-spacing: 30px;
    padding-left: 30px;
    color: #293146;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -550%);
    z-index: 15;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-align: left;
    width: fit-content;
}

.homeBox {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #620000;
    z-index: 5;
}

.homeCircle {
    position: absolute;
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    z-index: 10;
}

.homeImgCont {
    width: 50%;
    height: 85%;
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    z-index: 20;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}



.homeLinks {
    position: absolute;
    list-style: none;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -30%);
    z-index: 90;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.homeLink {
    position: relative;
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    letter-spacing: 40px;
    padding-left: 40px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
}

.homeLink-child {
    position: relative;
    padding: 10px 0px 10px 20px;
}

/* animation */
.homeLink-child::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .homeLink-child:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .homeLink-child::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #505050;
    z-index: -1;
    transition: transform .3s ease;
  }

  @media only screen and (max-width: 1720px) {
    .homeName {
        font-size: 110px;
        letter-spacing: 55px;
        padding-left: 55px;
        transform: translate(-50%, -310%);
    }
    .homeTitle {
        font-size: 40px;
        letter-spacing: 27px;
        padding-left: 27px;
        transform: translate(-25%, -610%);
    }
    
    .homeLinks {
        transform: translate(-10%, -30%);
    }
    
    .homeLink {
        margin: 30px 0;
        font-size: 66px;
        letter-spacing: 33px;
        padding-left: 33px;
    }
  }

  @media only screen and (max-width: 1536px) {
    .homeName {
        font-size: 100px;
        letter-spacing: 50px;
        padding-left: 50px;
        transform: translate(-50%, -330%);
    }
    .homeTitle {
        font-size: 35px;
        letter-spacing: 25px;
        padding-left: 25px;
        transform: translate(-25%, -680%);
    }
    
    .homeLinks {
        transform: translate(-5%, -30%);
    }
    
    .homeLink {
        margin: 30px 0;
        font-size: 60px;
        letter-spacing: 30px;
        padding-left: 30px;
    }
  }

  @media only screen and (max-width: 1366px) {
    .homeName {
        font-size: 80px;
        letter-spacing: 40px;
        padding-left: 40px;
        transform: translate(-50%, -400%);
    }
    .homeTitle {
        font-size: 30px;
        letter-spacing: 20px;
        padding-left: 20px;
        transform: translate(-25%, -810%);
    }
    
    .homeLinks {
        transform: translate(0, -30%);
    }
    
    .homeLink {
        margin: 30px 0;
        font-size: 50px;
        letter-spacing: 25px;
        padding-left: 25px;
    }
  }


  @media only screen and (max-width: 1220px) {
    .homeName {
        font-size: 70px;
        letter-spacing: 35px;
        padding-left: 35px;
        transform: translate(-50%, -440%);
    }
    .homeTitle {
        font-size: 25px;
        letter-spacing: 15px;
        padding-left: 15px;
        transform: translate(-30%, -990%);
    }
    .homeLinks {
        transform: translate(10%, -30%);
    }
    .homeLink {
        margin: 30px 0;
        font-size: 40px;
        letter-spacing: 20px;
        padding-left: 20px;
    }
  }

    /* desktop height responsiveness */
    @media only screen and (max-height: 600px) {
        .homeContainer{
            height: 600px;
        }
        .homeBox {
            height: 600px;
        }
        .homeCircle {
            width: 40%;
            height: 0;
            padding-bottom: 40%;
            top: 30px;
            left: 30%;
            transform: translate(-50%, 0);
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 50%;
            z-index: 10;
        }
        .homeName {
            top: 5px;
            left: 0;
            transform: translate(0, 0);
        }
        .homeTitle {
            top: 90px;
            left: 50%;
            transform: translate(-10%, 0);
        }
        .homeLinks {
            top: 200px;
            left: 50%;
            transform: translate(-10%, 0);
        }
      }
    

  @media only screen and (max-width: 1024px) {
    .homeHeader {
        display: none;
    }
    .homeName {
        font-size: 70px;
        letter-spacing: 35px;
        padding-left: 35px;
        transform: translate(-50%, -320%);
    }
    .homeTitle {
        font-size: 30px;
        letter-spacing: 15px;
        padding-left: 15px;
        transform: translate(-10%, -500%);
    }
    .homeLinks {
        display: none;
    }
    .homeBox {
        width: 50vw;
    }
    .homeCircle {
        width: 60%;
        padding-bottom: 60%;
        left: 50%;
    }
    .homeImgCont {
        width: 100%;
        height: 75vh;
        position: relative;
        z-index: 20;
        align-self: flex-end;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
  }

  @media only screen and (max-width: 800px) {
    .homeCircle {
        width: 75%;
        padding-bottom: 75%;
        left: 50%;
    }
  }

  @media only screen and (max-width: 600px){
    .homeCircle {
        width: 100%;
        padding-bottom: 100%;
        left: 50%;
    }
  }